.blog {
    &-main {
    display: flex;
    flex-wrap: wrap;
    }   
    &-section-1 {
        width: 60%;
        border-right: 5px solid #50e3c2;
        border-bottom: 5px solid #50e3c2;
        margin-bottom: 100px;
        padding-right: 5px;
        &-text-container {
            padding: 0 50px 50px 0;
            margin-left: calc((5 * 100%) / 60);
            p {
                padding: 10px 0;
            }
        }
        &-image-container {
            &-image {
                transform: translate(0, -100px);
                box-shadow: 10px 10px;
                color: #50e3c2;
            }
        }
    }
    &-section-2 {
        width: 40%;
        margin-top: 50px;
        padding-left: 150px;
        ul,
        li {
            list-style: inherit;
            list-style-position: inside;
            padding: 5px 0;
        }
        h3 {
            // padding: 20px 0;
            color: #063974;
        }
        a {
            margin: 10px 0;
            display: inline-block;
        }
    }
    &-section-3 {
        width: 60%;
        padding-left: 5%;
        h3 {
            color: black;
        }
        &-comment-container {
            display: flex;
            margin-bottom: 50px;
            &-image-conainer {
                width: 20%;
            }
            &-text-container {
                width: 80%;
                padding-left: 50px;
            }
        }
    }

}


@media (max-width: 950px) {
    .blog {
        &-header {
            height: 65vh;
        }
        &-main  {
            flex-wrap: inherit;
            flex-direction: column;
            align-items: center;
            .blog {
                &-section{
                    &-1,
                    &-2,
                    &-3 {
                        width: 90%;
                        padding: 0;
                        margin: 0;
                        margin-bottom: 50px;
                    }
                    &-1{
                        padding: 0 6px;
                    }
                    &-2 {
                        display: flex;
                        justify-content: space-between;
                        &-image-container {
                            width: 40%;
                        }
                        &-text-container {
                            width: 40%;
                        }
                    }
                    
                }
            }
        }
    }
}

@media (max-width: 950px) {
    .blog-main {
        .blog {
            &-section-2 {
                &-text-container {
                    width: 50%;
                }
            }
        }
    }
    
}

@media (max-width: 700px) {
    .blog-main {
        .blog {
            &-section-2 {
                flex-direction: column;
                &-image-container,
                    &-text-container {
                        width: 100%;
                    }
            }
        }
    }
    
}



