.contact {
    &-main {
        display: flex;
    }
    &-form {
        width: 80%;
        transform: translate(-35px, -110px);
        background: white;
        padding: 31px;
        box-shadow: 10px 10px;
        color: #50e3c2;
    
    }
    &-section-2 {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;
        &-socials {
            display: flex;
            justify-content: space-between;
            width: 134px;
            margin: 20px 0;
            a {
                color: #063974;
                margin-right: 20px;
                margin-bottom: 20px;
            }
        }
        &-info {
            margin-bottom: 20px;
        }
        
    }
}


@media (max-width: 650px) {
    .contact {
        &-main {
            flex-direction: column;
            align-items: center;
            .form {
                width: 100%;
                transform: translate(0, -60px);
            }
            .contact-section-2 {
                width: 220px;
                margin: 0;
                margin-bottom: 50px;
            }
        }
    }
}




