footer {
    background: $black;
    color: white;
    a {
        color: rgb(250, 60, 12);
    }
    div {
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}