.form {
    padding: 20px 0;
    &-top {
        display: flex;
        &-name {
            margin-right: 20px;
        }
        &-email,
        &-name {
            width: calc((100% - 20px)/2);
            padding: 20px;
            border: none;
            border-bottom: 2px solid #50e3c2;
            font-family: 'Lato';
            font-weight: 300;
        }
    }
    &-message {
        width: 100%;
        padding: 20px;
        margin: 30px 0;
        border: 2px solid #50e3c2;
        font-family: 'Lato';
        font-weight: 300;
    }  
    &-submit {
        width: 100%;
        padding: 0;
        border: none;
        height: 40px;
        background: #063974;
        color: white;
        font-family: 'Playfair Display SC';
        cursor: pointer;
        &:hover,
        &:focus,
        &:active {
            background-color: #063974b7;
        }
        &:active {
            transform: translateY(1px);
        }
    }
}