.form {
    padding: 20px 0;
    // font-family: 'Lato';
    &-top {
        display: flex;
        
        &-name {
            width: calc((100% - 20px)/2);
            padding: 0 0 20px;
            border: none;
            border-bottom: 2px solid #50e3c2;
            margin-right: 20px;
        }
        &-email {
            width: calc((100% - 20px)/2);
            padding: 0 0 20px;
            border: none;
            border-bottom: 2px solid #50e3c2;
        }
    }
    &-message {
        width: 100%;
        padding: 0;
        margin: 30px 0;
        border: 2px solid #50e3c2;
    }  
    &-submit {
        width: 100%;
        padding: 0;
        border: none;
        height: 40px;
        background: #063974;
        color: white;
        font-family: 'Playfair Display SC';
        
    }
}