.header {

    &.contact,
    &.home,
    &.contact {
        &-header {
            height: 95vh;
            background-position: center;
            background-size: cover;
            min-height: 700px;
        }
    }
}



.home {
    &-header {
        background: url(../images/home-image-1.jpg);
        &-header-box {
            position: absolute;
            bottom: -140px;
            left: 0;
            width: 47%;
        }
    }
}
 
 
 
.blog {
    &-header {
        background: url(../images/blog-image-1.jpg);
        h1 {
            color: white;
        }
    }
} 
 
 
.contact {
    &-header {
        background: url(../images/contact-image-1.jpg);
        h1 {
            color: white;
        }
    } 
}
 
 header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            .logo {
                font-family: 'Playfair Display SC';
                font-size: 3.46rem;
                color: #50e3c2;
            }
            ul {
                display: flex;
                li {
                    margin: 0 40px;
                    font-weight: bold;
                    a {
                        color: white;
                        &:hover {
                            color: #50e3c2;
                        }
                    }
                }
                li:nth-child(4) {
                    margin-right: 0;
                }
            }
        }
        .header-mid {
            // width: 760px;
            // position: relative;
            margin-bottom: 200px;
            padding-left: 20vw;
        }
        .mobiles-menu{
            display: none;
        }
}


h1 {
    color: #0c5f4c;
    font-size: calc(1.12rem * 3 + 4.579vw);
    position: relative;
    z-index: 10;
    span {
        font-family: 'Playfair Display SC';
        color: #063974;
        font-size: calc(0.87rem * 3 + 5.853vw);
    }
}

@media (max-width: 950px) {
    header nav ul li {
        margin: 0 10px;
    }
}

@media (max-width: 650px) {
    header {
        flex: none;
        .menu {
            display: none;
        }
        .mobiles-menu{
            display: block;
        }
        .header-mid {
            position: absolute;
            bottom: 75px;
            right: 100px;
        }
    }

    /* mobile menu */
    .mobiles-menu {
        padding: 0px 24px;
        background: #70809066;
        a {
            color: white;
            padding: 10px 20px;
            font-size: 2rem;
            font-weight: 700;
            display: block;
            text-align: right;
            
            &:hover,
            &:focus {
                color: #50e3c2;
                font-size: 2rem;
                font-weight: 900;
            }
            &.icon {
                background: #2c2d2c55;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }   
    .mobiles-menu .mobile-menu-container {
        display: none;
        background: #2c2d2cab;
        height: 50vh;
    }
    /* end of mobile menu */

}

