.header {
    &.home
    {
        &-header {
            height: 70vh;
            background-position: center;
            background-size: cover;
            min-height: 700px;
            position: relative; 
            .header-mid {
                margin-bottom: 200px;
                padding-left: 20vw;
            }
        } 
    }
}
.header {
    &.contact,
    &.blog {
        &-header {
            height: 50vh;
            background-position: center;
            background-size: cover;
            min-height: 450px;
            position: relative;
            .header-mid {
                margin-bottom: 120px;
                padding-left: 20vw;
            }
        }
    }
}
.home {
    &-header {
        background: url(../images/home-image-1.jpg);
        &-header-box {
            position: absolute;
            left: 0;
            width: calc(200px + 26vw);
            bottom: -85px;
        }
    }
}
.blog {
    &-header {
        background: url(../images/blog-image-1.jpg);
        h1 {
            color: $ice-blue;
        }
    }
} 
.contact {
    &-header {
        background: url(../images/contact-image-1.jpg);
        h1 {
            color: $ice-blue;
        }
    } 
}
 
 header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 20px;
            .logo {
                font-family: 'Playfair Display SC';
                font-size: 3.46rem;
                color: $greenish-cyan;
            }
            ul {
                display: flex;
                li {
                    margin: 0 40px;
                    font-weight: bold;
                    a {
                        color: $ice-blue;
                        &:hover,
                        &:focus {
                            color: $greenish-cyan;
                        }
                    }
                }
                li:nth-child(4) {
                    margin-right: 0;
                }
            }
        }
        .mobiles-menu{
            display: none;
        }
}
h1 {
    color: $spruce;
    font-size: calc(1.12rem * 3 + 4.579vw);
    position: relative;
    z-index: 10;
    span {
        font-family: 'Playfair Display SC';
        color: $twilight-blue;
        font-size: calc(0.87rem * 3 + 5.853vw);
    }
}

@media (max-width: 950px) {
    header nav ul li {
        margin: 0 10px;
    }
}

@media (max-width: 650px) {
    .header {
        &.contact,
        &.blog {
            &-header {
                height: 50vh;
                min-height: 550px;
            }
        }
        &.home {
            &-header {
                height: 70vh;
                min-height: 550px;
            }
        }
    }
    .header {
        .menu {
            display: none;
        }
        .mobiles-menu{
            display: block;
        }
    }
   .header {
        &.home,
        &.contact,
        &.blog {
            &-header {
                .header-mid {
                    margin-bottom: 200px;
                    padding-left: 5%;
                }
            }
        }
    }
    /* mobile menu */
    .mobiles-menu {
        padding: 0 24px 300px;
        overflow: hidden;
        a {
            color: $ice-blue;
            padding: 30px 20px 10px;
            font-size: 2rem;
            font-weight: 700;
            display: block;
            text-align: right;
            &:hover,
            &:focus {
                color: $greenish-cyan;
                font-size: 2rem;
                font-weight: 900;
            }
            &.icon {
                background: hex($black , 55);
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }   
    .mobiles-menu .mobile-menu-container {
        display: none;
        background: #2c2d2cab;
        height: 50vh;
    }
    /* end of mobile menu */
}

