.home-section-1 {
    display: flex;
    padding: 100px 0;
    &-text-container {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 60px;
    }
    &-image-container {
        width: 30%;   
        img {
            box-shadow: -20px 20px;
            color: $greenish-cyan;
        }
    }
}

.home-section-2 {
    background: rgb(80,227,195);
    background: linear-gradient(27deg, rgba(80,227,195,0.60) 0%, $ice-blue 100%);
    padding: 75px 0;
    &-gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            margin-right: 20px;
            width: calc(100% - 40px)/3;
            display: block;
            margin-right: 20px;
            &:nth-child(3){
                margin-right: 0;
                }
                img {
                    &:hover {
                    transform: scale(105%);
                }  
            }
        } 
    }  
}

.home-section-3 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: space-between;
    h3,p {
        color: $spruce;
    }
    &-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0 10px 100px;
        position: relative;
        a {
        color: $ice-blue;
        font-size: 3rem;
        position: absolute;
        left: 30px;
        top: 10px;
        background: $greenish-cyan;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        align-items: center;
        display: flex;
        justify-content: center;
            &:hover,
            &:focus {           
                background-color: #59e2c4a6;
            }
        }   
    }
}

.home-section-4 {
    background: rgb(80,227,195);
    background: linear-gradient(27deg, rgba(80,227,195,0.60) 0%, $ice-blue 100%);
    padding: 20px 0;
    h2 {
        color: $twilight-blue;
    }
    &-container {
        display: flex;
        div {
            width: 50%;
        }
        &-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-image-container {
            display: flex;
            img {
                color: $greenish-cyan;
                object-fit: cover;
            }
            &-top {
                box-shadow: 20px 20px;
                transform: translate(0 ,-40px);
            }
            &-bottom {
                box-shadow: -20px 20px;
                transform: translate(0 ,40px);
            }  
        }
    }
    .text-top {
        align-items: flex-start;
        text-align: left;
        margin-right: calc((5 * 100%) / 50);
        > * {
            margin-left: 140px;
        }
    }
    .text-bottom {
        align-items: flex-end;
        text-align: right;
        margin-left: calc((5 * 100%) / 50);
        > * {
            margin-right: 140px;
        }
    }
}

.home-section-5 {
    &-container {
        padding: 25px 0;
        min-height: 450px;
        &-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 40vh;
        }
    } 
    &-image-container {
        img {
            height: 40vh;
            min-height: 400px;
            object-fit: cover;
        } 
    }
}

@media (max-width: 950px) {
    .home-section-4-container {
        flex-direction: column;
        align-items: center;
        div {
            width: 90%;
        }
        &-image-container {
            img {
                width: 70%;
            }
            &:nth-child(1) {
                justify-content: flex-end;
            }
        }
        .text{
            &-top,
            &-bottom 
            {
                margin-left: 0;
                margin-right: 0;
                > * {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .home {
        &-section-3 {
            flex-wrap: none;
            flex-direction: column;
            padding: 50px 0;
            &-container {
                width: 100%;
                padding: 0 0 50px 100px;
                a {
                    position: absolute;
                    top: 0px;
                    left: 25px;
                }
            }
        } 
    }
}

@media (max-width: 650px) {
    .home {
        &-section-1 {
            flex-direction: column;
            align-items: center;
            padding: 100px 0 50px;
            &-text-container {
                width: 80%;
                padding: 0;
                align-items: center;
                text-align: justify;
            }
            &-image-container {
                width: 70%;
                padding: 50px 0;
            }
        }
        &-section-2 {
            padding: 0;
            margin: 0;
            background: rgb(80,227,195);
            background: linear-gradient(90deg, rgba(80,227,195,0.49763655462184875) 0%, rgba(255,255,255,1) 100%);
            &-gallery {
                flex-direction: column;
                align-items: center;
                li {
                    margin: 0;
                    padding: 20px;
                    width: 80%;
                }
            }
        }
        &-section-4 {
            background: rgb(80,227,195);
            background: linear-gradient(90deg, rgba(80,227,195,0.49763655462184875) 0%, rgba(255,255,255,1) 100%);
        }
        &-section-5 {
            padding: 100px 0 50px;
        }
    }  
}

