.home-section-1 {
    display: flex;
    padding: 250px 0;
    &-text-container {
        width: 70%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-right: 60px;
    }
    &-image-container {
        width: 30%;   
        img {
            box-shadow: -20px 20px;
            color: #50e3c2;
        }
    }
}

.home-section-2 {
    background-color: #d2f9f9;
    padding: 130px 0;

    &-gallery {
        display: flex;
        flex-direction: row;
        justify-content: center;
        li {
            margin-right: 20px;
            width: calc(100% - 40px)/3;
            display: block;
            margin-right: 20px;
                &:nth-child(3){
                    margin-right: 0;
                }
                img {
                    &:hover {
                    transform: scale(105%);
                    }  
                }
        } 
    }  
}

.home-section-3 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
    justify-content: space-between;
    h3,p {
        color: #0c5f4c;
    }
    &-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 0 50px 100px;
        position: relative;
        a {
        color: white;
        font-size: 4rem;
        position: absolute;
        left: 10px;
        top: 40px;
        background: #50e3c2;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        align-items: center;
        display: flex;
        justify-content: center;
            &:hover,
            &:focus {           
                background-color: #59e2c4a6;
            }
        }
        
    }
}

.home-section-4 {
    background: #d2f9f9;
    padding: 20px 0;
    h2 {
        color: #063974;
    }
    &-container {
        display: flex;
        div {
            width: 50%;
        }
        &-text-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        &-image-container {
            display: flex;
            img {
                color: #50e3c2;
                object-fit: cover;
            }
            &-top {
                box-shadow: 20px 20px;
                transform: translate(0 ,-40px);
            }
            &-bottom {
                box-shadow: -20px 20px;
                transform: translate(0 ,40px);
            }  
        }
    }
    .text-top {
        align-items: flex-start;
        text-align: left;
        // margin-left: 50px
        margin-right: calc((5 * 100%) / 50);
        > * {
            margin-left: 140px;
        }
    }
    .text-bottom {
        align-items: flex-end;
        text-align: right;
        margin-left: calc((5 * 100%) / 50);
        > * {
            margin-right: 140px;
        }
    }
}



.home-section-5 {
    &-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 60vh;
        min-height: 603px;
    }
    &-image-container {
        img {
            height: 60vh;
            object-fit: cover;
        }
        
    }

}


@media (max-width: 950px) {
    .home-section-4-container {
        flex-direction: column;
        align-items: center;
        div {
            width: 90%;
        }
        &-image-container {
            img {
                width: 70%;
            }
            &:nth-child(1) {
                justify-content: flex-end;
            }
        }
        .text{
            &-top,
            &-bottom 
            {
                margin-left: 0;
                margin-right: 0;
                > * {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
}

@media (max-width: 780px) {
    .home {
        &-section-3 {
            flex-wrap: none;
            flex-direction: column;
            padding: 50px 0;
            &-container {
                width: 100%;
                padding: 0 0 50px 100px;
                a {
                    position: absolute;
                    top: -10px;
                    left: 15px;
                }
            }
        } 
    }
}

@media (max-width: 650px) {
    .home {
        &-section-1 {
            flex-direction: column;
            padding: 200px 0 100px;
            &-text-container {
                width: 100%;
                padding: 0;
                align-items: center;
                text-align: center;
            }
            &-image-container {
                width: 100%;
                padding: 50px 0;
            }
        }
        &-section-2 {
            padding: 0;
            margin: 0;
            &-gallery {
                flex-direction: column;
                align-items: center;
                li {
                    margin: 0;
                    padding: 20px;
                    width: 70%;
                }
            }
        }
        &-section-5 {
            padding: 100px 0;
        }
    }  
}

// @media (max-width: 550px) {
//     .home {
//         &-section-3 {
//             &-container {
//                 a {
//                     i {
//                         top: 30px;
//                         left: 300px;
//                     }
//                 }
//             }
//         } 
//     }
// }

