// inside style.scss
@import 'setup';
@import 'header';
@import 'footer';
@import 'form';
@import 'home';
@import 'blog';
@import 'contact';

html {
    font-size: 62.5%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Lato', sans-serif;    
}
body {
    font-size: 2rem;
    color: #0c5f4c;
}
.wrapper {
    max-width: 1900px;
    margin: 0 auto;
    width:85%;
}
ul,
li,
a,
p,
h1,
h2,
h3,
button {
    margin: 0;
    padding: 0;
}
p {
    letter-spacing: 2px;
    line-height: 32px;
}
h2 {
    margin-bottom: 25px;
    font-size: 3.5rem;
    line-height: 58px;
    letter-spacing: 3.8px;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
li {
    list-style: none;
    font-size: 2rem;
    letter-spacing: 1px;
}
img {
    width: 100%;
}

.find-out-more {
    width: 200px;
    height: 40px;
    font-family: 'Playfair Display SC';
    margin: 25px 0 0;
    border: 0;
    color: white;
    background-color: #063974;
}

// @media (max-width: 650px) {
//     h1{
//         font-size: calc(8.7rem / 2);
//         span {
//             font-size: calc(11.12rem / 2);
//         }
//     }
// }