// inside style.scss
@import 'setup';
@import 'header';
@import 'footer';
@import 'form';
@import 'home';
@import 'blog';
@import 'contact';

html {
    font-size: 62.5%;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Lato', sans-serif;    
}

body {
    font-size: 2rem;
    color: #0c5f4c;
}
  
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width:90%;
}

ul,
li,
a,
p,
h1,
h2,
h3,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
li {
    list-style: none;
    font-size: 2rem;
}
img {
    width: 100%;
}

h1 {
    color: #063974;
    font-size: 8.7rem;
    width: 752px;
    span {
        font-family: 'Playfair Display SC';
        color: #0c5f4c;
        font-size: 11.12rem;
    }
}

h2 {
    margin-bottom: 25px;
}

.find-out-more {
    width: 200px;
    height: 40px;
    font-family: 'Playfair Display SC';
    margin: 25px 0;
    border: 0;
}