html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header.home-header {
  height: 70vh;
  background-position: center;
  background-size: cover;
  min-height: 700px;
  position: relative;
}

.header.contact-header, .header.blog-header {
  height: 50vh;
  background-position: center;
  background-size: cover;
  min-height: 450px;
  position: relative;
}

.home-header {
  background: url(../images/home-image-1.jpg);
}

.home-header-header-box {
  position: absolute;
  left: 0;
  width: calc(200px + 26vw);
  bottom: -85px;
}

.blog-header {
  background: url(../images/blog-image-1.jpg);
}

.blog-header h1 {
  color: white;
}

.contact-header {
  background: url(../images/contact-image-1.jpg);
}

.contact-header h1 {
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

header nav .logo {
  font-family: 'Playfair Display SC';
  font-size: 3.46rem;
  color: #50e3c2;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin: 0 40px;
  font-weight: bold;
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  color: #50e3c2;
}

header nav ul li:nth-child(4) {
  margin-right: 0;
}

header .header-mid {
  margin-bottom: 200px;
  padding-left: 20vw;
}

header .mobiles-menu {
  display: none;
}

h1 {
  color: #0c5f4c;
  font-size: calc(1.12rem * 3 + 4.579vw);
  position: relative;
  z-index: 10;
}

h1 span {
  font-family: 'Playfair Display SC';
  color: #063974;
  font-size: calc(0.87rem * 3 + 5.853vw);
}

@media (max-width: 950px) {
  header nav ul li {
    margin: 0 10px;
  }
}

@media (max-width: 650px) {
  .header.contact-header, .header.home-header, .header.blog-header {
    height: 70vh;
    min-height: 550px;
  }
  .header .menu {
    display: none;
  }
  .header .mobiles-menu {
    display: block;
  }
  .header .header-mid {
    margin: 0 auto 200px;
    padding: 0;
  }
  /* mobile menu */
  .mobiles-menu {
    padding: 0 24px 300px;
    overflow: hidden;
  }
  .mobiles-menu a {
    color: white;
    padding: 30px 20px 10px;
    font-size: 2rem;
    font-weight: 700;
    display: block;
    text-align: right;
  }
  .mobiles-menu a:hover, .mobiles-menu a:focus {
    color: #50e3c2;
    font-size: 2rem;
    font-weight: 900;
  }
  .mobiles-menu a.icon {
    background: #2c2d2c55;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .mobiles-menu .mobile-menu-container {
    display: none;
    background: #2c2d2cab;
    height: 50vh;
  }
  /* end of mobile menu */
}

footer {
  background: #292828;
  color: white;
}

footer div {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form {
  padding: 20px 0;
}

.form-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-top-name {
  margin-right: 20px;
}

.form-top-email, .form-top-name {
  width: calc((100% - 20px)/2);
  padding: 20px;
  border: none;
  border-bottom: 2px solid #50e3c2;
  font-family: 'Lato';
  font-weight: 300;
}

.form-message {
  width: 100%;
  padding: 20px;
  margin: 30px 0;
  border: 2px solid #50e3c2;
  font-family: 'Lato';
  font-weight: 300;
}

.form-submit {
  width: 100%;
  padding: 0;
  border: none;
  height: 40px;
  background: #063974;
  color: white;
  font-family: 'Playfair Display SC';
  cursor: pointer;
}

.form-submit:hover, .form-submit:focus, .form-submit:active {
  background-color: #063974b7;
}

.form-submit:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.home-section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}

.home-section-1-text-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 60px;
}

.home-section-1-image-container {
  width: 30%;
}

.home-section-1-image-container img {
  -webkit-box-shadow: -20px 20px;
          box-shadow: -20px 20px;
  color: #50e3c2;
}

.home-section-2 {
  background-color: #50e3c360;
  padding: 75px 0;
}

.home-section-2-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-section-2-gallery li {
  margin-right: 20px;
  width: calc(100% - 40px)/3;
  display: block;
  margin-right: 20px;
}

.home-section-2-gallery li:nth-child(3) {
  margin-right: 0;
}

.home-section-2-gallery li img:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
}

.home-section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-section-3 h3, .home-section-3 p {
  color: #0c5f4c;
}

.home-section-3-container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 10px 100px;
  position: relative;
}

.home-section-3-container a {
  color: white;
  font-size: 4rem;
  position: absolute;
  left: 10px;
  top: 40px;
  background: #50e3c2;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-section-3-container a:hover, .home-section-3-container a:focus {
  background-color: #59e2c4a6;
}

.home-section-4 {
  background: #50e3c341;
  padding: 20px 0;
}

.home-section-4 h2 {
  color: #063974;
}

.home-section-4-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section-4-container div {
  width: 50%;
}

.home-section-4-container-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-section-4-container-image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-section-4-container-image-container img {
  color: #50e3c2;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-section-4-container-image-container-top {
  -webkit-box-shadow: 20px 20px;
          box-shadow: 20px 20px;
  -webkit-transform: translate(0, -40px);
          transform: translate(0, -40px);
}

.home-section-4-container-image-container-bottom {
  -webkit-box-shadow: -20px 20px;
          box-shadow: -20px 20px;
  -webkit-transform: translate(0, 40px);
          transform: translate(0, 40px);
}

.home-section-4 .text-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  margin-right: calc((5 * 100%) / 50);
}

.home-section-4 .text-top > * {
  margin-left: 140px;
}

.home-section-4 .text-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
  margin-left: calc((5 * 100%) / 50);
}

.home-section-4 .text-bottom > * {
  margin-right: 140px;
}

.home-section-5-container {
  padding: 25px 0;
  min-height: 450px;
}

.home-section-5-container-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 40vh;
}

.home-section-5-image-container img {
  height: 40vh;
  min-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 950px) {
  .home-section-4-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-section-4-container div {
    width: 90%;
  }
  .home-section-4-container-image-container img {
    width: 70%;
  }
  .home-section-4-container-image-container:nth-child(1) {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .home-section-4-container .text-top, .home-section-4-container .text-bottom {
    margin-left: 0;
    margin-right: 0;
  }
  .home-section-4-container .text-top > *, .home-section-4-container .text-bottom > * {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 780px) {
  .home-section-3 {
    -ms-flex-wrap: none;
        flex-wrap: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0;
  }
  .home-section-3-container {
    width: 100%;
    padding: 0 0 50px 100px;
  }
  .home-section-3-container a {
    position: absolute;
    top: -10px;
    left: 15px;
  }
}

@media (max-width: 650px) {
  .home-section-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 200px 0 100px;
  }
  .home-section-1-text-container {
    width: 100%;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .home-section-1-image-container {
    width: 100%;
    padding: 50px 0;
  }
  .home-section-2 {
    padding: 0;
    margin: 0;
  }
  .home-section-2-gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-section-2-gallery li {
    margin: 0;
    padding: 20px;
    width: 70%;
  }
  .home-section-5 {
    padding: 100px 0;
  }
}

.blog-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-section-1 {
  width: 60%;
  border-right: 5px solid #50e3c2;
  border-bottom: 5px solid #50e3c2;
  margin-bottom: 100px;
  padding-right: 5px;
}

.blog-section-1-text-container {
  padding: 0 50px 50px 0;
  margin-left: calc((5 * 100%) / 60);
}

.blog-section-1-text-container p {
  padding: 10px 0;
}

.blog-section-1-image-container-image {
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
  -webkit-box-shadow: 10px 10px;
          box-shadow: 10px 10px;
  color: #50e3c2;
}

.blog-section-2 {
  width: 40%;
  margin-top: 50px;
  padding-left: 150px;
}

.blog-section-2 ul,
.blog-section-2 li {
  list-style: inherit;
  list-style-position: inside;
  padding: 5px 0;
}

.blog-section-2 h3 {
  color: #063974;
}

.blog-section-2 a {
  margin: 10px 0;
  display: inline-block;
}

.blog-section-3 {
  width: 60%;
  padding-left: 5%;
}

.blog-section-3 h3 {
  color: black;
}

.blog-section-3-comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.blog-section-3-comment-container-image-conainer {
  width: 20%;
}

.blog-section-3-comment-container-text-container {
  width: 80%;
  padding-left: 50px;
}

@media (max-width: 950px) {
  .blog-header {
    height: 65vh;
  }
  .blog-main {
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-main .blog-section-1, .blog-main .blog-section-2, .blog-main .blog-section-3 {
    width: 90%;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
  }
  .blog-main .blog-section-1 {
    padding: 0 6px;
  }
  .blog-main .blog-section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-main .blog-section-2-image-container {
    width: 40%;
  }
  .blog-main .blog-section-2-text-container {
    width: 40%;
  }
}

@media (max-width: 950px) {
  .blog-main .blog-section-2-text-container {
    width: 50%;
  }
}

@media (max-width: 700px) {
  .blog-main .blog-section-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-main .blog-section-2-image-container, .blog-main .blog-section-2-text-container {
    width: 100%;
  }
}

.contact-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form {
  width: 80%;
  -webkit-transform: translate(-35px, -110px);
          transform: translate(-35px, -110px);
  background: white;
  padding: 31px;
  -webkit-box-shadow: 10px 10px;
          box-shadow: 10px 10px;
  color: #50e3c2;
}

.contact-section-2 {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
}

.contact-section-2-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 134px;
  margin: 20px 0;
}

.contact-section-2-socials a {
  color: #063974;
  margin-right: 20px;
  margin-bottom: 20px;
}

.contact-section-2-info {
  margin-bottom: 20px;
}

@media (max-width: 650px) {
  .contact-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-main .form {
    width: 100%;
    -webkit-transform: translate(0, -60px);
            transform: translate(0, -60px);
  }
  .contact-main .contact-section-2 {
    width: 220px;
    margin: 0;
    margin-bottom: 50px;
  }
}

html {
  font-size: 62.5%;
  font-family: 'Playfair Display SC', serif;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 2rem;
  color: #0c5f4c;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

ul,
li,
a,
p,
h1,
h2,
h3,
button {
  margin: 0;
  padding: 0;
}

p {
  letter-spacing: 2px;
  line-height: 32px;
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 15px;
  font-size: 3.5rem;
  line-height: 58px;
  letter-spacing: 3.8px;
}

h3 {
  margin-bottom: 10px;
  font-size: 3rem;
  line-height: 58px;
  letter-spacing: 3.2px;
}

h4 {
  margin: 0 0 20px;
  font-size: 2rem;
  color: #063974;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  font-size: 2rem;
  letter-spacing: 1px;
}

img {
  width: 100%;
}

address {
  font-style: initial;
}

.find-out-more {
  width: 200px;
  height: 40px;
  font-family: 'Playfair Display SC';
  margin: 25px 0 0;
  border: 0;
  color: white;
  background-color: #063974;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.find-out-more:hover, .find-out-more:focus {
  background-color: #063974b7;
}

@media (max-width: 950px) {
  p {
    font-size: 1.5rem;
    line-height: 25px;
  }
}
